
.list {
  width: 100%;

  .list-item{
    // width: 100%;

    display: flex;
    flex-direction: row;

    font-size: 1.1em;

    .task {

    }

    .buffer {
      position: relative;
      bottom: 6px;
      flex-grow: 1;
      border-bottom: 3px dotted black;
      margin-left: 3px;
      margin-right: 3px;
    }

    .resolution {

    }
  }
}


